.profile {
  width: 75%;
}

.profileImg {
  width: 100%;
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.profileName {
  font-size: 32px;
  font-weight: 600;
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.profileName > a > img  {
  cursor: pointer;
  margin-left: 5px;
}


.bio {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 300;
  text-align: justify;
}

@media (orientation : portrait) {
  .profile {
    width: 90%;
    padding: 0 4.5%;
  }
  .profileImg {
    width: 80%;
    display: flex;
    margin: auto;
  }
  .profileName{
    width: fit-content;
    margin: auto;
    
  }
  .bio {
    font-size: 16px;
  }
}