.repoHeading {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}
.repoContainerContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
}
.pagination{
  margin-top: 15px;
}

@media (orientation : portrait) {
  .repoContainer {
    padding: 4.5%;
  }
  .repoContainerContent {
    grid-template-columns: 1fr;
    grid-gap: 25px;
  }
}