.main {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: #f6f8fa;
}

.container {
  display: grid;
  grid-template-columns: 0.5fr 1fr 2.2fr 0.5fr;
  padding-top: 50px;
}

@media (orientation : portrait) {
  .container {
    grid-template-columns: 1fr;
  }
}